
<form [formGroup]="form" (ngSubmit)="submit(form.value)">
    <div class="form-group">
      <label for="exampleInputEmail1">Username</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"  formControlName="username">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" formControlName="password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>


  <button class="btn btn-outline-info" (click)="goHome()">Home</button>